<div class="row">
  {{#each swudoku}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
     <h1>HOLA {{user.name}}</h1>
      </div>
    </div>
  </div>
 

  {{/each}}
</div>