<section class="card">
  <div class="card-body">
    <h1>Acerca del sudoku</h1>
    <p>
Sudoku (en japonés: 数独, sūdoku) es un juego matemático que se inventó a finales de la década de 1970, adquirió popularidad en Japón en la década de 1980, y se dio a conocer en el ámbito internacional en 2005, cuando numerosos periódicos empezaron a publicarlo en su sección de pasatiempos.

El objetivo del sudoku es rellenar una cuadrícula de 9 × 9 celdas (81 casillas) dividida en subcuadrículas de 3 × 3 (también llamadas "cajas" o "regiones") con las cifras del 1 al 9 partiendo de algunos números ya dispuestos en algunas de las celdas. La forma inicial del juego es que sean nueve elementos diferenciados, que no se deben repetir en una misma fila, columna o subcuadrícula. Un sudoku bien planteado sólo puede tener una solución, y ha de tener al menos 17 pistas iniciales. ​La solución de un sudoku siempre es un cuadrado latino, aunque el recíproco en general no es cierto ya que el sudoku establece la restricción añadida de que no se puede repetir un mismo número en una subcuadrícula.    </p>
  <p>

Durante mucho tiempo, la cuestión del número mínimo de pistas necesarias para una solución inequívoca del Sudoku permaneció abierta. En particular, no se sabía si había un Sudoku inequívocamente solucionable con 16 pistas. El proyecto de computación distribuida Sudoku@vtaiwan en la plataforma BOINC se dedicaba a la búsqueda de dicho Sudoku. En enero de 2012, surgió evidencia de que no había un Sudoku inequívocamente solucionable con 16 pistas.
  </p>
  
  </div>
</section>
