<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>No encontrado</h1>
      <p>Esta página no existe</p>
      <a href="/">Regreso a pagina Inicio</a>
    </div>
  </div>
</div>