<section class="card">
  <div class="card-body">
    <h1>Acerca del sudoku</h1>
    <p>
Sudoku (en japonés: 数独, sūdoku) es un juego matemático que se inventó a finales de la década de 1970, adquirió popularidad en Japón en la década de 1980, y se dio a conocer en el ámbito internacional en 2005, cuando numerosos periódicos empezaron a publicarlo en su sección de pasatiempos.

El objetivo del sudoku es rellenar una cuadrícula de 9 × 9 celdas (81 casillas) dividida en subcuadrículas de 3 × 3 (también llamadas "cajas" o "regiones") con las cifras del 1 al 9 partiendo de algunos números ya dispuestos en algunas de las celdas. La forma inicial del juego es que sean nueve elementos diferenciados, que no se deben repetir en una misma fila, columna o subcuadrícula. Un sudoku bien planteado sólo puede tener una solución, y ha de tener al menos 17 pistas iniciales. ​La solución de un sudoku siempre es un cuadrado latino, aunque el recíproco en general no es cierto ya que el sudoku establece la restricción añadida de que no se puede repetir un mismo número en una subcuadrícula.    </p>
  <p>
    Reglas
El campo de juego es un cuadrado 9×9 dividido en cuadrados más pequeños con un lado de 3 celdas. Por lo tanto, todo el campo de juego consta de 81 células. En ellos, ya al comienzo del juego, hay algunos números (del 1 al 9), llamados pistas. Se requiere que el jugador llene las celdas libres con números del 1 al 9 para que en cada fila, en cada columna y en cada pequeño cuadrado 3×3 cada dígito ocurra solo una vez.

La complejidad del Sudoku no depende del número de celdas llenas inicialmente, sino de los métodos que deben usarse para resolverlo. Los más simples se resuelven deductivamente: siempre hay al menos una celda donde solo cabe un número. Algunos rompecabezas se pueden resolver en pocos minutos, otros se pueden pasar horas.

Un rompecabezas correctamente compuesto tiene una sola solución. Sin embargo, en algunos sitios en Internet, bajo la apariencia de rompecabezas complicados, al usuario se le ofrecen opciones de Sudoku con varias soluciones, así como con ramas de la decisión en sí.

Origen
En el siglo XVIII, Leonhard Euler inventó el juego "Carré latin" ("Cuadrado latino"). Sobre la base de este juego en los años 70 del siglo pasado en América del Norte, se inventaron crucigramas numéricos especiales. Así, en los Estados Unidos, Sudoku apareció por primera vez en 1979 en la revista "Dell Puzzle Magazine". Luego se llamó "Number Place". Sudoku ganó verdadera popularidad en la década de 1980-1990, cuando la revista japonesa "Nikoli" comenzó a publicar regularmente este rompecabezas en sus páginas (desde 1986). Hoy en día, el Sudoku es un componente obligatorio de muchos periódicos. Entre ellos se encuentran muchas publicaciones con circulación multimillonaria, por ejemplo, el periódico alemán "Die Zeit" y el austriaco "Der Standard". El periódico ruso Trud también publica Sudoku.

Base matemática
El problema generalizado del Sudoku en el campo N²×N² es NP-completo, ya que se reduce al problema de llenar el cuadrado latino.

Durante mucho tiempo, la cuestión del número mínimo de pistas necesarias para una solución inequívoca del Sudoku permaneció abierta. En particular, no se sabía si había un Sudoku inequívocamente solucionable con 16 pistas. El proyecto de computación distribuida Sudoku@vtaiwan en la plataforma BOINC se dedicaba a la búsqueda de dicho Sudoku. En enero de 2012, surgió evidencia de que no había un Sudoku inequívocamente solucionable con 16 pistas.
  </p>
  
  </div>
</section>
