<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Sudoku Game</h1>
  <p class="lead">Una aplicación sencilla para gestionar el Juego Sudoku y las opiniones de los jugadores desarrollada con Nodejs, Express,
    Tecnologías Mongodb y Javascript</p>
    <img
        class="rounded-0 mx-auto d-block logo m-4"
        src="/img/sudoku.png"
        alt="Logo"
      />
  <hr class="my-4" />
  <p>Por favor registrarte para probar Sudoku Game
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarme</a>
  </div>
</div>